@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400&display=swap');

:root {
    --primary-color: #e7b719;
    --primary-dark: #1F252E;
    --background-color: #f4f4f9;
    --text-color: #333;
    --secondary-color: #ffc107;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar{
    display: none;
}

body {
    font-family: 'Outfit', sans-serif;
    background: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

header {
    background: var(--primary-dark);
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 17px rgba(0, 0, 0, .1);
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 100px;
    background-color: #0b254a;
    
    ul{
        margin: 0;
    }
}

/* General Code --> Bessically for Navbar */
ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    transition: background 0.3s;
}

li a:hover,
li a.active {
    background: var(--primary-color);
    border-radius: 5px;
}

/* Download resume */
.download-resume a {
    padding: 10px 20px;
    background-color: #e4a109;
    color: #2a3749;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
    &:hover {
        background-color: #2a3749;
        color: #e4a109;
    }
}

.home {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-content: center;
    gap: 2rem;
    /* padding: 2rem 0; */
    /* border: 1rem solid red; */
    img {
        max-width: 100%;
        height:fit-content;
        object-fit: cover;
        border-radius: 60px;
        box-shadow: 0 4px 10px rgba(155, 63, 63, 0.1);
        max-height: 400px;
    }
    h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    span {
        color: var(--primary-color);
        font-weight: 700;
    }
    .grid-item1{
        grid-column: 1;
        /* border: 1px solid #ff0303; */
        padding-top: 5rem;
        padding-right: 20rem;
    }
    .grid-item2{
        grid-column: 2;
        /* border: 1px solid #ff0303; */
    }
    .profile-picture{
        padding: 5px;
        border: var(--primary-color) 5px solid;
    }
    .social{
        display: flex;
        text-decoration: none;
        gap: 1rem;
        padding-top: 1.5rem;
    }
    a {
        color: var(--primary-color);
        font-size: 2rem;
        transition: color 0.3s;
        &:hover {
            color: var(--secondary-color);
        }
    }
}

/* About Section */
.about-section{
    min-height: 80vh;
    padding: 50px 72px;
    background-color: #52525624;
    margin-bottom: 20px;
    h2{
        display: grid;
        place-items: center;
        font-weight: 700;
        text-decoration-line: underline;
        text-decoration-color: var(--primary-color);
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    p{
        font-size: 1.2rem;
        padding: 0 30px;
        font-weight: 400;
    }
}


/* Skills Section */
.skills{
    min-height: 80vh;
    padding: 50px 72px;
    margin-bottom: 20px;
    h2{
        display: grid;
        place-items: center;
        font-weight: 700;
        text-decoration-line: underline;
        text-decoration-color: var(--primary-color);
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    li {
        background: var(--primary-color);
        color: #fff;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        list-style: none;
    }
    .skill-grid{
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 3rem;
        padding: 0 30px;
        .grid-item {
            background-color: var(--primary-color);
            color: var(--background-color);
            border-radius: 5px;
            padding: 30px;
            box-shadow: 10px 10px var(--primary-dark);
            h5{
                font-size: 1.5rem;
                font-weight: 700;
                margin-bottom: 2rem;
            }
            p{
                font-size: 1rem;
            }
        }
    }
}


/* Project section */
.projects{
    min-height: 80vh;
    padding: 50px 72px;
    margin-bottom: 20px;
    h2{
        display: grid;
        place-items: center;
        font-weight: 700;
        text-decoration-line: underline;
        text-decoration-color: var(--primary-color);
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
}


/* Contact Form */
.contact{
    min-height: 80vh;
    padding: 50px 72px;
    margin-bottom: 20px;
    .grid{
        display: grid;
        grid-template-columns: auto auto;
        gap: 2rem;
    }
    h2{
        display: grid;
        place-items: center;
        font-weight: 700;
        text-decoration-line: underline;
        text-decoration-color: var(--primary-color);
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
}

.map {
    /* margin-top: 2rem */
    border-radius: 8px;
    overflow: hidden;
    /* border: 1px solid #1b0d81; */
}

form {
    display: grid;
    gap: 1rem;
    label {
        font-weight: bold;
        /* text-decoration: underline var(--primary-color); */
    }
    button {
        padding: 0.5rem 1rem;
        border: none;
        background: var(--primary-color);
        color: #fff;
        font-size: 1rem;
        cursor: pointer;
        transition: background 0.3s;
        &:hover {
            background-color: var(--secondary-color);
        }
    }
}

form input, form textarea {
    padding: 0.5rem;
    border: 1px solid #1b0d81;
    box-shadow: #e7b719;
    border-radius: 3px;
    font-size: 1rem;
}

section {
    padding: 4rem 0;
}


h1, h2 {
    color: var(--primary-dark);
}
